In [ ]:

import kagglehub

# Download latest version
path = kagglehub.dataset_download("podsyp/time-series-starter-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'time-series-starter-dataset' dataset.
Path to dataset files: /kaggle/input/time-series-starter-dataset

In [10]:
import kagglehub

path = kagglehub.dataset_download("podsyp/time-series-starter-dataset")
print("Path to dataset files:", path)

Using Colab cache for faster access to the 'time-series-starter-dataset' dataset.
Path to dataset files: /kaggle/input/time-series-starter-dataset

In [11]:
import os

dataset_path = '/kaggle/input/time-series-starter-dataset'
files = os.listdir(dataset_path)
print("Nama File =", files)

Nama File = ['Month_Value_1.csv']

In [12]:
import os
import pandas as pd

dataset_path = '/kaggle/input/time-series-starter-dataset'
data_files = os.path.join(dataset_path, 'Month_Value_1.csv')

data = pd.read_csv(data_files)
data

,Period,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
0,01.01.2015,1.601007e+07,12729.0,1257.763541,30024676.0
1,01.02.2015,1.580759e+07,11636.0,1358.507000,30024676.0
2,01.03.2015,2.204715e+07,15922.0,1384.697024,30024676.0
3,01.04.2015,1.881458e+07,15227.0,1235.606705,30024676.0
4,01.05.2015,1.402148e+07,8620.0,1626.621765,30024676.0
...,...,...,...,...,...
91,01.08.2022,NaN,NaN,NaN,NaN
92,01.09.2022,NaN,NaN,NaN,NaN
93,01.10.2022,NaN,NaN,NaN,NaN
94,01.11.2022,NaN,NaN,NaN,NaN
95,01.12.2022,NaN,NaN,NaN,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 5 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Period                                    96 non-null     object
 1   Revenue                                   64 non-null     float64
 2   Sales_quantity                            64 non-null     float64
 3   Average_cost                              64 non-null     float64
 4   The_average_annual_payroll_of_the_region  64 non-null     float64
dtypes: float64(4), object(1)
memory usage: 3.9+ KB

In [14]:
data.describe()

,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
count,6.400000e+01,64.000000,64.000000,6.400000e+01
mean,3.236045e+07,19197.375000,1695.061159,2.869083e+07
std,1.164150e+07,6591.287257,296.844793,1.057191e+06
min,1.402148e+07,8314.000000,1110.576805,2.740647e+07
25%,2.242655e+07,15065.500000,1499.142841,2.782857e+07
50%,3.209088e+07,18368.000000,1654.399798,2.819785e+07
75%,3.992999e+07,22856.250000,1916.401096,2.987852e+07
max,5.875647e+07,38069.000000,2559.328184,3.002468e+07

In [15]:
data['Period'] = pd.to_datetime(data['Period'], format='%d.%m.%Y')
data_clean = data.dropna()

In [16]:
X = data_clean[['Sales_quantity', 'Average_cost', 'The_average_annual_payroll_of_the_region']]
y = data_clean['Revenue']

In [17]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
import numpy as np

model = LinearRegression()
scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
print("Hasil MSE per fold:", -scores)
print("Rata-rata MSE:", -np.mean(scores))

Hasil MSE per fold: [2.64946779e+12 5.06882422e+11 2.75808996e+12 1.73423845e+12
 5.37523873e+12]
Rata-rata MSE: 2604783471877.987


#hasil
##Hasil perhitungan menunjukkan bahwa kesalahan prediksi model masih sangat besar, sehingga model regresi yang digunakan belum mampu menebak nilai Revenue dengan baik. Ini berarti fitur yang dipakai belum cukup kuat untuk menjelaskan perubahan Revenue, atau hubungan antar datanya tidak cocok jika diprediksi dengan model linear biasa.